
@{
    ViewBag.Title = "Dashboard";
}
<div id="Admin">
    <a href="@Url.Action("Feedback","Admin")" class="menuItem">
        <i class="material-icons" style="color: #E74C3C;">feedback</i>
        <p>Feedback</p>
    </a>
    <a href="@Url.Action("Admins","Admin")" class="menuItem">
        <i class="material-icons" style="color: #2980B9;">account_circle</i>
        <p>Admins</p>
    </a>
</div>
